@media only screen and (min-width: 1024px) {
.editPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    .pageHeader {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 35px;
        color: #E0E6FB;
    }
    .redactingHeader{
        font-size: 27px;
        color: #E0E6FB;
        margin-right: auto;
        margin-top: 27px;
        margin-bottom: 67px;
    }
    .editPageUnder{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 44px;
        .editPageInstruction{
            white-space: pre-line;
            font-size: 20px;
            color: #E0E6FB;
            width: 570px;
        }
        .editPageButtonsContainer{
            width: fit-content;
            .saveButton {
                width: 193px;
                height: 77px;
                left: 0px;
                background: #5F6985;
                border-radius: 10px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
                font-size: 24px;
                line-height: 29px;
                color: #E0E6FB;
            }

            .exitButton {
                width: 193px;
                height: 77px;
                left: 0px;
                background: #5F6985;
                border-radius: 10px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
                font-size: 24px;
                line-height: 29px;
                color: #E0E6FB;
                margin-left: 30px;
            }
        }
    }

}
}

@media only screen and (max-width: 1023px) {

    .editPageWrapper {
        margin-top: 90px;
        height: fit-content;
        display: flex ;
        flex-direction: column-reverse;
        justify-content: space-around;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 100px;
        font-family: Arial, Helvetica, sans-serif;
        .pageHeader {
            position: absolute;
            visibility: hidden;
        }
        .editPageInstruction{
            position: absolute;
            visibility: hidden;
        }
        .presetSection{
            position: absolute;
            visibility: hidden;
        }
        DIV {
            display: flex;
            justify-content: space-evenly;
        .saveButton {
            position: absolute;
            visibility: hidden;
        }
    
        .exitButton {
            position: absolute;
            visibility: hidden;
        }
    }
        
    }
}