.modalWrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    backdrop-filter: blur(20px);
    .modalWindow {
        position: absolute;
        width: 666px;
        height: 333px;
        background: #5F6985;
        border-radius: 10px;
        z-index: 5;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .modalArrow{
            width: 37px;
            height: 37px;
            position: absolute;
            left: 24px;
            top: 24px;
            transition: .1s all;
        }

        .modalArrow:hover {
            transition: .1s all;
            transform: scale(1.05);
        }

        .closeVector {
            width: 37px;
            height: 37px;
            position: absolute;
            right: 22px;
            top: 22px;
            transition: .1s all;
        }

        .closeVector:hover {
            transition: .1s all;
            transform: scale(1.05);
        }

        .modalContentWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            align-items: center;
            min-width: 236px;

            .modalQuestion{
                margin-top: 15px;
                font-size: 25px;
                color: #E0E6FB;
            }

            .modalWindowHeader {
                font-size: 25px;
                color: #E0E6FB;
                margin-bottom: 15px;
            }

            .modalResult {
              
                font-size: 25px;
                color: #E0E6FB;
            }

            .buttonsWrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 60%;
                margin-top: 27px;

                .modalButton {
                    width: 100px;
                    height: 100px;
                    left: 0px;
                    background: #97A3C6;
                    border-radius: 10px;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
                    font-size: 24px;
                    line-height: 29px;
                    color: #E0E6FB;
                    margin-bottom: 44px;
                }

                .modalButton:hover {
                    transition: .1s all;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
                }
            }

        }
    }
}