.fretboardEditorWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; 
    background-color: #5F6985;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
    padding: 16px 10px 10px 10px;
}